@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Site is designed by TCS CoE Integration team and all rights reserved for the team & Primark</p>
